* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #333;
}
.scroller {
  width: max-content;
  margin: auto;
  overflow-x: auto;
  overflow-y: visible;
}

.container {
  display: flex;
  background-color: #ffffff;
  margin-bottom: 5px;
  height: 670px;
}

.product {
  position: relative;
  margin: 40px 10px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #e7e6eb;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 400px;
  flex: 1;
  height: 634px;
  margin: 10px;
}

.product > * {
  position: absolute;
}

.div-img {
  width: 258px;
  height: 258px;
  top: 40px;
  left: 71px;
}
.the-img {
  width: 100%;
  height: 100%;
}
.div-price {
  top: 322px;
  left: 40px;
  font-size: 32px;
  font-weight: 700px;
}
.div-title {
  top: 376px;
  left: 40px;
  font-weight: 500px;
  font-size: 24px;
}
.div-description {
  top: 412px;
  left: 40px;
  font-size: 16px;
}
.div-button {
  top: 500px;
  left: 40px;
  width: 320px;
  height: 55px;
  text-align: center;
  border: none;
  background-color: #fbbf23;
  border-radius: 8px;
  font-weight: 400px;
  font-size: 24px;
}
.error {
  color: red;
}
